<div class="body">
  <!---------------------------------------Burger Menu--------------------------------------->
  <div class="burger-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </div>

  <!---------------------------------------Frontpage content--------------------------------------->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="image">
            <img src="assets/img/logo.png" height="170px" width="250px" />
          </div>
        </div>
        <div class="col-12">
          <p class="headline"><b>Welcome to the game!</b></p>
          <p class="text">
            Do you want to become the unbeatable trash master and rule it all?
            Click on the button below to start the game.
          </p>
        </div>

        <div class="col-12 iptBtn-container">
          <input type="text" id="usernameInput" value="" placeholder="Your name">
          <a> <!-- href="about" -->
            <button type="button" (click)="saveUsername()" class="btn btn-primary">Start</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
