.body {
    width: 100%;
}

.content{
    text-align: center;
    color: #ffffff;
    margin-top: 50px; 
}

.image {
    height: 170px;
}

.image img {
    width: 250px;
    height: auto;
}


.headline {
    font-size: 20px;
}

.text{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    
}

.iptBtn-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input {
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    padding-left: 10px;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    text-align: center;
}

.btn-primary {
    margin: 10px auto;
}

.btn-primary:disabled {
    background-color: #6a6a6a;
    border-color: #6a6a6a;
}

/* tablet version */

@media (min-width: 768px) {

    .image {
        height: 250px;
    }
    
    .image img {
        width: 350px;
        height: auto;
    }
    

    .content {
        margin-top: 100px;
    }

    .headline {
        font-size: 40px;
    }

    .text {
        font-size: 25px;
        padding-right: 70px;
        padding-left: 70px;
        margin-bottom: 50px;
    }

    input, .btn-primary {
        width: 350px;
        height: 70px;
        font-size: 25px;   
    }
 }

 @media (min-width: 992px) {

    .image {
        height: 350px;
    }
    
    .image img {
        width: 450px;
        height: auto;
    }

    .content {
        margin-top: 250px;
    }
    .headline {
        font-size: 50px;
    }
    .text {
        font-size: 35px;
    }

    input, .btn-primary {
        width: 400px;
        height: 80px;
        font-size: 35px;
    }

  }

  @media (min-width: 1200px) { 
      .content {
          margin-top: 20px;
      }
  }