.body {
    width: 100%;
}

.content{
    text-align: center;
    color: #ffffff;
    margin-top: 50px; 
}

.text{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter
}

.iptBtn-container {
    display: flex;
    flex-direction: column;
}

input {
    width: 30%; height: 40px;
    font-size: 1.2em;
    padding-left: 10px;
    margin: 20px auto;
    border-radius: 15px;
    border: none;
}