<body>
  <h1>SUSTAINABLE DEVELOPMENT GOALS</h1>
  <p class="text">
    We all need to take extra care of our world. Here, you will read about the
    background meaning of why this game was developed.
  </p>

  <div class="icongoals">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img
            src="../assets/img/goal12sustainable.svg"
            height="100px"
            width="100px"
          />
          <p class="smalltext">
            Ensure sustainable consumption and production patterns
          </p>
        </div>
        <div class="col-6">
          <img
            src="../assets/img/goal13sustainable.svg"
            height="100px"
            width="100px"
          />
          <p class="smalltext">
            Take urgent action to combat climate change and its impacts
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button type="button" class="btn btn-primary">Start game</button>
  </div>
</body>
