<body>
  <h1>SUSTAINABLE DEVELOPMENT GOALS</h1>
  <p class="text">
    We all need to take extra care of our world. Here, you will read about the
    background meaning of why this game was developed.
  </p>

  <div class="icongoals">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="image1">
            <img src="../assets/img/goal12sustainable.svg" />
            <p class="smalltext">
              Ensure sustainable consumption and production patterns
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="image2">
            <img src="../assets/img/goal13sustainable.svg" />
            <p class="smalltext">
              Take urgent action to combat climate change and its impacts
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <a href="game">
      <button type="button" class="btn btn-primary">Start game</button>
    </a>
  </div>
</body>

<div class="popup container-fluid">
  <section class="row buttons justify-content-center align-content-center">
    <p class="explain col-12">
      We encourage you to read more about the sustainable development goals
      before continuing to the game
    </p>

    <button type="button" (click)="removePopup()" class="btn btn-primary">
      Read more
    </button>

    <a href="level">
      <button type="button" class="btn btn-primary">Skip to game</button>
    </a>
  </section>
</div>
