.iconheart {
    color: #EF492E;
    font-size: 40px;
    text-align: center;
}

.lifeleft {
    text-align: center;
    padding-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    margin: 0 !important;

}