<!--
<p class="lifeleft">Life left</p>
<div class="iconheart">
  <div class="row">
    <div class="col-4">
      <i class="fa fa-heart"></i>
    </div>
    <div class="col-4">
      <i class="fa fa-heart"></i>
    </div>
    <div class="col-4">
      <i class="fa fa-heart" style="color: #ffffff;"></i>
    </div>
  </div>
</div>

-->

<p class="lifeleft col-12">
  life Left
</p>
<div class="iconheart row">
  <div class="col-4">
    <i class="fa fa-heart"></i>
  </div>
  <div class="col-4">
    <i class="fa fa-heart"></i>
  </div>
  <div class="col-4">
    <i class="fa fa-heart"></i>
  </div>
</div>
