<div class="burger-menu" (click)="gotoMenu()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>
</div>
<div class="highscore-container">
  <div class="inner-container">
    <h1>Highscores</h1>
    <div class="iconaward">
      <img src="../assets/img/award.svg" height="100px" width="100px" />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12" *ngFor="let user of users | async">
          <p>{{user.name}}</p>
          <p>{{user.score}}</p>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <a href="level"> <button class="btn btn-primary">Try again</button></a>
      <a href="about"> <button class="btn btn-primary">Read more</button></a>
    </div>
  </div>
</div>



