<div class="burger-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div> 
<div class="highscore-container">
    <div class="inner-container">
        <h1>Highscore</h1>
        <img src="../../../assets/award.svg" class="award" alt>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p>{{one}}</p>
                    <p>250</p>
                </div>
                <div class="col-sm-12">
                    <p>{{two}}</p>
                    <p>250</p>
                </div>
                <div class="col-sm-12">
                    <p>{{three}}</p>
                    <p>250</p>
                </div>
                <div class="col-sm-12">
                    <p>{{four}}</p>
                    <p>250</p>
                </div>
                <div class="col-sm-12">
                    <p>{{five}}</p>
                    <p>250</p>
                </div>
                <div class="col-sm-12">
                    <p>{{six}}</p>
                    <p>250</p>
                </div>
                <div class="col-sm-12">
                    <p>{{seven}}</p>
                    <p>250</p>
                </div>
                <div class="col-sm-12">
                    <p>{{eight}}</p>
                    <p>250</p>
                </div>
                <div class="col-sm-12">
                    <p>{{nine}}</p>
                    <p>250</p>
                </div>
                <div class="col-sm-12">
                    <p>{{ten}}</p>
                    <p>250</p>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <button class="btn btn-primary">Try again</button>
            <button class="btn btn-primary">Read more</button>
        </div>
    </div>
</div>