<div class="body">

<!---------------------------------------popup content--------------------------------------->   
<div class="popup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="text">
                    We encourage you to read more about the sustainable 
                    development goals before continuing to the game.
                </p>

            </div>

            <div class="col-12"></div>
            <div class="col-12"></div>
            <div class="col-12"></div>
        </div>
    </div>
</div>









</div>
