<div class="body">

<!---------------------------------------popup content--------------------------------------->   
<div class="popup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="text2">
                    We encourage you to read more about the sustainable 
                    development goals before continuing to the game.
                </p>
            </div>

            <div class="col-12">
                <p class="entername"><b>Enter your name</b></p>
             
                <div class="form-group d-flex justify-content-center">
                        <label for="usr"></label>
                        <input type="text" class="form-control" id="usr">
                      </div>
            </div>

            <div class="col-12">
                    <button type="button" class="btn btn-primary">Read more</button>
            </div>

            <div class="col-12">
                    <button type="button" class="btn btn-primary">Skip to game</button>
            </div>

        </div>
    </div>
</div>





</div>
