@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.body{
    background-color: #1f1436;
    height: 100vh;
    width: 100%;
}

.popup{
    text-align: center;
    color: #ffffff;
   padding-top: 70px;
   font-size: 20px;
   font-family: 'Nunito Sans', sans-serif;
   
}

.text2{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.form-control{
 padding-bottom: 50px;
}


.btn-primary {
    color: #fff;
    background-color: #ef492e;
    border-color: #ef492e;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

