.icon {
    padding-top: 20px;
}


.icon {
    height: 80px;
}

.icon img {
    width: 80px;
    height: auto;
}

#time {
    color: #EF492E;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}

@media (min-width: 768px) {

    .icon {
        height: 120px;
    }
    
    .icon img {
        width: 120px;
        height: auto;
    }

  

}


