.icon img {
    width: 80px;
    height: auto;
}

#time {
    color: #EF492E;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}

@media (min-width: 768px) {
    
}


