<div class="items">
  <img
    src="../../../assets/img/apple.svg"
    data-id="1"
    alt
    class="currentitem--img"
    id="currentImg1"
  />
  <img
    src="../../../assets/img/battery.svg"
    data-id="2"
    alt
    class="currentitem--img"
    id="currentImg2"
  />
  <img
    src="../../../assets/img/plastic.svg"
    data-id="3"
    alt
    class="currentitem--img"
    id="currentImg3"
  />
  <img
    src="../../../assets/img/broken-bottle.svg"
    data-id="4"
    alt
    class="currentitem--img"
    id="currentImg4"
  />
  <img
    src="../../../assets/img/box (1).svg"
    data-id="5"
    alt
    class="currentitem--img"
    id="currentImg5"
  />
  <img
    src="../../../assets/img/wire.svg"
    data-id="6"
    alt
    class="currentitem--img"
    id="currentImg6"
  />
  <img
    src="../../../assets/img/detergent.svg"
    data-id="7"
    alt
    class="currentitem--img"
    id="currentImg7"
  />
  <img
    src="../../../assets/img/paper-bin.svg"
    data-id="8"
    alt
    class="currentitem--img"
    id="currentImg8"
  />
  <img
    src="../../../assets/img/can.svg"
    data-id="9"
    alt
    class="currentitem--img"
    id="currentImg9"
  />

 
</div>
