<div class="body">

 <!---------------------------------------Burger Menu--------------------------------------->   
<div class="burger-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                    <i class="fa fa-times"></i>
            </div>
        </div>
    </div>
</div>    


 <!---------------------------------------Menu--------------------------------------->   

<div class="menu">
    <div class="container-fluid">
        <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary">New game</button>
                </div>

                <div class="col-12">
                    <button type="button" class="btn btn-primary">Highscores</button>
                </div>
                
                <div class="col-12">
                    <button type="button" class="btn btn-primary">Read more</button>
                </div>
                
                <div class="col-12">
                    <button type="button" class="btn btn-primary">How to play</button>
                </div>
                
                <div class="col-12">
                    <button type="button" class="btn btn-primary">Exit</button>
                </div>
    </div>
</div>




</div>