.body{
    background-color: #1f1436;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger-menu{
    color: #f6a117;
    font-size: 50px;
    text-align: right;
}


.menu{
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #ef492e;
    border-color: #ef492e;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 768px) {

	.btn-primary {
		margin: 10px;
		width: 350px;
        height: 70px;
        font-size: 25px;
    }
    
}


@media (min-width: 992px) {

    .btn-primary {
        width: 400px;
        height: 80px;
        font-size: 35px;
    }

}
