<div class="body">
  <!---------------------------------------Burger Menu--------------------------------------->
  <div class="burger-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
  </div>

  <!---------------------------------------Menu--------------------------------------->

  <div class="menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <a href="level">
            <button type="button" class="btn btn-primary">New game</button></a
          >
        </div>

        <div class="col-12">
          <a href="highscore">
            <button type="button" class="btn btn-primary">Highscores</button></a
          >
        </div>

        <div class="col-12">
          <a href="about">
            <button type="button" class="btn btn-primary">Read more</button></a
          >
        </div>

        <div class="col-12">
          <a href="game">
            <button type="button" class="btn btn-primary">
              How to play
            </button></a
          >
        </div>

        <div class="col-12">
          <a href="start">
            <button type="button" class="btn btn-primary">Exit</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
