<ul class="dropoffs">
  <li class="trashes--item d-flex justify-content-center diffEasy" id="grid1">
    <img
      data-id="1"
      src="../../../assets/img/trashwithapple.svg"
      alt=""
      class="trash--img"
    />
  </li>
  <li class="trashes--item d-flex justify-content-center diffEasy" id="grid2">
    <img
      data-id="2"
      src="../../../assets/img/trashwithbattery.svg"
      alt=""
      class="trash--img"
    />
  </li>
  <li class="trashes--item d-flex justify-content-center diffEasy" id="grid3">
    <img
      data-id="3"
      src="../../../assets/img/trashwithplastic.svg"
      alt=""
      class="trash--img"
    />
  </li>
  <li class="trashes--item d-flex justify-content-center diffMed" id="grid4">
    <img
      data-id="4"
      src="../../../assets/img/trashwithbottlecorrect.svg"
      alt=""
      class="trash--img"
    />
  </li>
  <li class="trashes--item d-flex justify-content-center diffMed" id="grid5">
    <img
      data-id="5"
      src="../../../assets/img/trashwithbox.svg"
      alt=""
      class="trash--img"
    />
  </li>
  <li class="trashes--item d-flex justify-content-center diffMed" id="grid6">
    <img
      data-id="6"
      src="../../../assets/img/trashwithwire.svg"
      alt=""
      class="trash--img"
    />
  </li>
  <li class="trashes--item d-flex justify-content-center diffHard" id="grid7">
    <img
      data-id="7"
      src="../../../assets/img/trashwithdetergent.svg"
      alt=""
      class="trash--img"
    />
  </li>
  <li class="trashes--item d-flex justify-content-center diffHard" id="grid8">
    <img
      data-id="8"
      src="../../../assets/img/trashwithpaper.svg"
      alt=""
      class="trash--img"
    />
  </li>
  <li class="trashes--item d-flex justify-content-center diffHard" id="grid9">
    <img
      data-id="9"
      src="../../../assets/img/trashwithcan.svg"
      alt=""
      class="trash--img"
    />
  </li>
</ul>
