
.trash--img {
	max-width: 60px;
	margin-top: 10px;
}

.trashes {
	padding: 0 0 10px 0 !important;
	margin: 0 auto !important;
	width: 60%;
	flex-wrap: wrap;
}

.displayNone {
	display: none !important;
}

