<ul class="trashes row col-12 jusify-content-center">

    <li  class="trashes--item col-4 d-flex justify-content-center diffEasy">
        <img data-id="1" src="../../../assets/img/trashwithapple.svg" alt="" class="trash--img">
    </li>
    <li  class="trashes--item col-4 d-flex justify-content-center diffEasy">
        <img data-id="2" src="../../../assets/img/trashwithbattery.svg" alt="" class="trash--img">
    </li>
    <li  class="trashes--item col-4 d-flex justify-content-center diffEasy">
        <img data-id="3" src="../../../assets/img/trashwithplastic.svg" alt="" class="trash--img">
    </li>
    <li  class="trashes--item col-4 d-flex justify-content-center diffMed">
        <img data-id="4" src="../../../assets/img/trashwithapple.svg" alt="" class="trash--img">
    </li>
    <li  class="trashes--item col-4 d-flex justify-content-center diffMed">
        <img data-id="5" src="../../../assets/img/trashwithbattery.svg" alt="" class="trash--img">
    </li>
    <li  class="trashes--item col-4 d-flex justify-content-center diffMed">
        <img data-id="6" src="../../../assets/img/trashwithplastic.svg" alt="" class="trash--img">
    </li>
    <li  class="trashes--item col-4 d-flex justify-content-center diffHard">
        <img data-id="7" src="../../../assets/img/trashwithapple.svg" alt="" class="trash--img">
    </li>
    <li  class="trashes--item col-4 d-flex justify-content-center diffHard">
        <img data-id="8" src="../../../assets/img/trashwithbattery.svg" alt="" class="trash--img">
    </li>
    <li class="trashes--item col-4 d-flex justify-content-center diffHard">
        <img data-id="9" src="../../../assets/img/trashwithplastic.svg" alt="" class="trash--img">
    </li>

</ul>
