main {
	min-height: 100vh;
}

.gameicons {
	padding: 0 !important;
}

.border-bot {
	border-bottom: 4px solid #f6a117;
	margin: 0 !important;
}

.item-img {
	border: 2px solid #f6a117;
	margin-top: 50%;
	padding: 10px;
}

.item-text {
	text-align: center;
	color: white;
}

.logo img {
	width: 20%;
}

ul {
	list-style-type: none;
}

.current {
	height: 50vh;
	padding: 0 !important;
	margin: 0 !important;
}

.trashes {
	padding: 0 !important;
	margin: 0 !important;
}
