main {
	min-height: 100vh;
}

.gameicons {
	padding: 0 !important;
}

.border-bot {
	border-bottom: 4px solid #f6a117;
	margin: 0 !important;
}

.item-img {
	border: 2px solid #f6a117;
	margin-top: 50%;
	padding: 10px;
	width: 50px;
}

.item-text {
	text-align: center;
	color: white;
}

.logo img {
	width: 32%;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul {
	list-style-type: none;
}

.current {
	height: 50vh;
	padding: 0 !important;
	margin: 0 !important;
}

.trash {
	padding: 0 !important;
	margin: 0 !important;
}

.buttons {
	text-align: center;
	padding-top: 30px;
}

.btn-primary {
	background-color: #ef492e;
	font-size: 20px;
	font-weight: bold;
	border: none;
	text-align: center;
	border-radius: 20px;
	width: 200px;
	height: 50px;
	margin-bottom: 15px;
}

.popup {
	position: fixed !important;
	display: none;
	width: 100vw;
	height: 100vh;
	top: 0;
	background-color: rgba(31, 20, 54, 0.8);
}

.popup .buttons {
	height: 100vh;
}

.gameover {
	color: red;
	font-size: 50px;
	font-weight: 800;
}
