.icon {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon span {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    color: #EF492E;
    margin-top: 7.5px;
    position: absolute;
}

#scoreText {
    text-align: center;
}