<body>
  <h1>HIGHSCORE</h1>
  <p class="text">
    Congratulations! <br />
    You reached a new score
  </p>

  <br />

  <div class="icon">
    <img src="../assets/img/award.svg" height="150px" width="150px" />
  </div>

  <p class="number">112</p>
  <div class="buttons">
    <a href="highscore">
      <button type="button" class="btn btn-primary">See highscores</button><br
    /></a>

    <a href="level">
      <button type="button" class="btn btn-primary">Try again</button></a
    >
  </div>
</body>
