<div class="level-container">
  <h1>Choose level difficulity</h1>
  <div class="icons">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="../assets/img/trashgrey.svg" height="80px" width="80px" />
          <p>Easy</p>
        </div>
        <div class="col-4">
          <img src="../assets/img/trashgrey.svg" height="80px" width="80px" />
          <p>Medium</p>
        </div>
        <div class="col-4">
          <img src="../assets/img/trashgrey.svg" height="80px" width="80px" />
          <p>Hard</p>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a href="play">
      <button type="button" class="btn btn-primary">Start game</button></a
    >
  </div>
</div>
