<div class="level-container">
    <h1>Choose level difficulity</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="../../../assets/trashcan.svg" alt="">
                <p>Easy</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/trashcan.svg" alt="">
                <p>Medium</p>
            </div>
            <div class="col-sm">
                <img src="../../../assets/trashcan.svg" alt="">
                <p>Hard</p>
            </div>
        </div>
    </div>
    <button>Start game</button>
</div>