* {
    text-transform: uppercase;
}

.level-container {
    height: 100vh; width: 100%;
    background-color: #1F1436;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}

.icons {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
}

h1 {
    color: #F6A117;
    padding: 0px 10px 50px 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    line-height: 40px;
}


.col-sm {
    text-align: center;
}

.col-sm img {
    display: inline-block;
    cursor: pointer;
}

.col-sm p {
    font-size: 1.5em;
    color: #fff;
    margin: 10px 0;
}

.buttons {
    text-align: center;
    padding-top: 30px;
}

.btn-primary {
    background-color:#EF492E;
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

.gameDiffIcon {
    cursor: pointer;
}

@media (min-width: 768px) {

	.btn-primary {
		margin: 10px;
		width: 350px;
        height: 70px;
        font-size: 25px;
	}

	h1 {
		padding: 0px 50px 40px 50px;
		font-size: 50px;
		line-height: 50px;
    }

    p {
        font-size: 25px;
    }   
}

@media (min-width: 992px) {

    p {
        font-size: 35px;
    }


    .btn-primary {
        width: 400px;
        height: 80px;
        font-size: 35px;
    }

}