<body>
        <h1>HOW TO PLAY THE GAME</h1>
        <p class="text">To become the ultimative trash master,
             you need to be fast! You have 3 minutes to sort the
              trash as fast as you can, before you run out of time. 
        </p>
        
        <br>
        
        <div class="icon">
        <img src="../assets/img/apple.svg" height="100px" width="100px">
        </div>

        <i class="fas fa-trash"></i>
        
        <div class="buttons">
         <button type="button" class="btn btn-primary">See highscores</button><br>
         <button type="button" class="btn btn-primary">Try again</button></div>
        </body>